* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e5e7eb;
  font-family: "Segoe UI", sans-serif;
}

.layout-content {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px 60px;
}
